.player {
  position: absolute;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & > canvas {
    filter: grayscale(80%);
    z-index: 0;
  }

  & > .overlay, & > .youDied, & > canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  & > video, & > iframe {
    z-index: 1;
    transition: transform 1s ease-in;
    pointer-events: none;
    width: 100%;
    height: auto;
  }

  .overlay {
    z-index: 2;
    pointer-events: none;
    background: url('./black-dots.png');
    width: 100%;
    height: 100%;
  }

  .youDied {
    display: none;
    z-index: 3;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .bg {
      min-width: 120%;
      height: 150px;
      background: black;
      background-size: cover;
      transition: opacity 0.8s ease-in;
      opacity: 0;
      box-shadow: 0px 0px 35px 16px rgba(0,0,0,0.8);
    }

    & > img {
      max-width: 100%;
      position: absolute;
      top: 0;
      bottom: 15px;
      left: 0;
      right: 0;
      z-index: 5;
      margin: auto;
      opacity: 0;
      transform: scale(0.7);
      transition: transform 2s ease-out;
    }
  }
}

.player.dead {
  & > video {
    filter: grayscale(80%);
    transition: none !important;
  }

  .youDied {
    .bg {
      opacity: 0.9;
      filter: blur(4px);
    }

    & > img {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.player.still {
  & > canvas {
    position: static;
  }
  & > video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateX(100%);
  }
}

@media (max-width: 959px) {
  .player {
    position: relative;
  }
}
