<html>
<head>
  <title>ADC in 2017</title>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0' />
  <meta name="description" content="Experience the marksman role in 2017">
  <meta name="keywords" content="league of legends lol marksman sucks adc in 2017 LUL videos carry die esports balance">
  <meta property="og:url"           content="https://marksmansucks.lol/index.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="ADC in 2017" />
  <meta property="og:description"   content="Experience the marksman role in 2017" />
  <%- entrycss %>
  <link rel="preload" href="/style.css" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/style.css"></noscript>
  <link rel="manifest" href="manifest.json">
  <link rel="canonical" href="https://marksmansucks.lol" />
  <script><%- loadcss %></script>
  <!-- Contact me at me@jinx.pro -->
</head>
<body>
  <%- markup %>
  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
