.articles {
  display: flex;
  position: fixed;
  bottom: 16px;
  left: 35px;
  right: 35px;
  margin-left: -1em;
  z-index: 10;
  transition: bottom 0.5s ease-in;
}

@media (max-width: 959px) {
  .articles {
    position: static;
    flex-direction: column;
    width: 100%;
  }
}
