
  .jinx {
    background-image: url('./img/jinx.jpg');
  }

  .ashe {
    background-image: url('./img/ashe.jpg');
  }

  .caitlyn {
    background-image: url('./img/caitlyn.jpg');
  }

  .corki {
    background-image: url('./img/corki.jpg');
  }

  .draven {
    background-image: url('./img/draven.jpg');
  }

  .ezreal {
    background-image: url('./img/ezreal.jpg');
  }

  .jhin {
    background-image: url('./img/jhin.jpg');
  }

  .kalista {
    background-image: url('./img/kalista.jpg');
  }

  .kogmaw {
    background-image: url('./img/kogmaw.jpg');
  }

  .lucian {
    background-image: url('./img/lucian.jpg');
  }

  .missfortune {
    background-image: url('./img/missfortune.jpg');
  }

  .sivir {
    background-image: url('./img/sivir.jpg');
  }

  .tristana {
    background-image: url('./img/tristana.jpg');
  }

  .twitch {
    background-image: url('./img/twitch.jpg');
  }

  .varus {
    background-image: url('./img/varus.jpg');
  }

  .vayne {
    background-image: url('./img/vayne.jpg');
  }
